<!--<div class="shariff"></div>
<dl class="layout-hint">
    <dt>data-backend-url:</dt>
    <dd>/shariff/</dd>
    <dt>data-info-url:</dt>
    <dd>t3dd15.typo3.org</dd>
    <dt>data-lang:</dt>
    <dd>en</dd>
    <dt>data-mail-url:</dt>
    <dd>mailto:info@typo3.org</dd>
    <dt>data-title:</dt>
    <dd>T3DD16</dd>
    <dt>data-url:</dt>
    <dd>t3dd15.typo3.org</dd>
</dl>
<div data-backend-url="/shariff/" data-theme="grey" data-lang="de" class="shariff" data-url="http://t3dd15.typo3.org"
     data-info-url="http://t3dd15.typo3.org" data-twitter-via="t3dd16" data-mail-url="mailto:info@typo3.org"
     data-lang="en" data-title="T3DD16"
     data-services="[&quot;whatsapp&quot;,&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;,&quot;xing&quot;,&quot;linkedin&quot;,&quot;mail&quot;,&quot;info&quot;]"></div>
<script src="social_toDo.js"></script>
-->

<shariff-widget [url]="{{links.self}}">

    <shariff-service-twitter></shariff-service-twitter>
</shariff-widget>


<shariff-widget
        backendUrl=""
        flattrCategory=""
        flattrUser=""
        lang=""
        mailBody=""
        mailSubject=""
        mailUrl=""
        mediaUrl=""
        orientation=""
        referrerTrack=""
        services=""
        title=""
        twitterVia=""
        url="{{links.self}}">

    <shariff-service-twitter></shariff-service-twitter>
    <shariff-service-facebook></shariff-service-facebook>
    <shariff-service-googleplus></shariff-service-googleplus>
    <shariff-service-linkedin></shariff-service-linkedin>
    <shariff-service-pinterest></shariff-service-pinterest>
    <shariff-service-xing></shariff-service-xing>
    <shariff-service-whatsapp></shariff-service-whatsapp>
    <shariff-service-mail></shariff-service-mail>
    <shariff-service-info></shariff-service-info>
    <shariff-service-addthis></shariff-service-addthis>
    <shariff-service-tumblr></shariff-service-tumblr>
    <shariff-service-flattr></shariff-service-flattr>
    <shariff-service-diaspora></shariff-service-diaspora>
    <shariff-service-reddit></shariff-service-reddit>
    <shariff-service-stumbleupon></shariff-service-stumbleupon>
    <shariff-service-threema></shariff-service-threema>

</shariff-widget>
